.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: rgb(239, 236, 236);
}
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.login-page label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.login-page .login-container .form-group > input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.login-page input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.toggle-passwordVisibility-container{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    margin-top: 22px;
}
.toggle-passwordVisibility-container input{
    cursor: pointer;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.google-login-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    color: black;
    border: 1px solid;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
}
.google-login-button:hover {
    background-color: #afb3bc;
    color: white;
}
