.formspage{

}
.formsDashboard{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.formDashboard{
    display: flex;
    gap: 4px;
    background-color: #ddd;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}
.deploy-status{
    font-size: 12px;
    background-color: lightblue;
    padding: 4px;
    border-radius: 4px;
}

.created-questions-list-Preview{
    max-width: 900px;
    margin: 20px auto;
    padding-inline: 5px;
}

.created-questions-list-Preview .edit-form-btn-container{
    display: flex;
    justify-content: flex-end;
}
.created-questions-list-Preview .edit-form-btn-container .edit-form-btn{
    cursor: pointer;    
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
}

.created-questions-list-Preview .saveAndCancel-container{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.created-questions-list-Preview .saveAndCancel-container span{
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.created-questions-list-Preview .createAndPreview-container{
    display: flex;
    gap: 8px;
    background-color: rgb(232, 226, 226);
    padding: 6px;
    margin-top: 12px;
    border-radius: 4px;
}

.created-questions-list-Preview .createAndPreview-container  span{
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.created-questions-list-Preview .createAndPreview-container .active{
    border: 1px solid black;
    background-color: white;
  }

  .formSubmit-container{
    margin-top: 10px;
  }

  .formSubmit-container p{
    font-size: 14px;
  }

  .formSubmit-btns button{
  margin-top: 10px;
  }

  .formSubmit-btn{
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
  }

  .formSubmit-btn:hover{
    background-color: lightgray;
  }
  