.formspage{

}
.formsDashboard{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.formDashboard{
    display: flex;
    gap: 4px;
    background-color: #ddd;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}
.deploy-status{
    font-size: 12px;
    background-color: lightblue;
    padding: 4px;
    border-radius: 4px;
}
  