/* Need to style the option tag for both questiontype and categorise category */

/* Input and Textarea Styles */
textarea {
  resize: vertical;
  min-height: 120px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px !important;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
