.questions-list-Preview {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.question-item-Preview {
    /* background-color: #ddd; */
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-header-Preview {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.item-header-Preview>span {
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
}


/* CategoryQuestioinPreview Styles */
.categorize-container-Preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.category-container-Preview {
    display: flex;
    gap: 12px;
}

.category-Preview {
    background-color: lightgreen;
    border-radius: 8px;
    width: 160px;
}

.category-header-Preview {
    text-align: center;
    border-bottom: 1px solid;
    padding: 5px;
}

.category-item-Preview {
    height: 120px;
    padding: 5px;
    overflow-y: auto;
    text-align: center;
}

.item-container-Preview {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-Preview {
    background-color: lightblue;
    padding: 5px;
    cursor: pointer;
    width: 140px;
    text-align: center;
    border-radius: 8px;
    user-select: none;
}



/* ComprehensionQuestioinPreview Styles */
.comprehension-container-Preview {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.description-container-Preview {
    background-color: rgb(214, 227, 239);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-title-container-Preview {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description-title-label-Preview {
    font-size: 14px;
    text-align: center;
}

.description-title-Preview {
    height: 24px;
    background-color: white;
    padding-inline: 4px;
    border-radius: 4px;
}

.description-content-container-Preview {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description-content-label-Preview {
    font-size: 14px;
    text-align: center;
}

.description-content-Preview {
    height: 100px;
    background-color: white;
    overflow-y: auto;
    padding: 4px;
    border-radius: 4px;
}

.questions-container-Preview {
    background-color: rgb(214, 227, 239);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.questions-container-Preview>span {
    text-align: center;
}

.sub-question-questionNumber-Preview {
    font-style: italic;
    font-family: cursive;
}

.sub-question-container-Preview {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 4px;
    background-color: white;
}

.sub-question-options-container-Preview {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sub-question-option-Preview {
    padding: 4px;
    display: flex;
    gap: 5px;
    border-radius: 4px;
    background-color: rgb(214, 227, 239);
    cursor: pointer;
}

.sub-question-option-Preview>p {
    text-wrap: nowrap;
    overflow-x: auto;
}

.sub-question-option-Preview>p::-webkit-scrollbar {
    height: 0;
}
















/* cloze question styles */
.cloze-container-preview {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display-question-preview {
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    /* Keeps it in place */
}

.placeholder {
    display: inline-block;
    width: 93px;
    height: 20px;
    background-color: #f0f0f0;
    line-height: 20px;
    border: 1px dashed #ccc;
    cursor: pointer;
}

.placeholder-hover {
    background-color: #e0e0e0;
    border:1px solid #888;
}

.blanks-container-preview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: lightcyan;
    padding: 4px;
    min-height: 80px;
}

.blanks-container-preview .draggable-blank-preview.hide {
    display: none;
}

.draggable-blank-preview {
    padding: 5px;
    padding-left: 8px;
    background-color: lightblue;
    border-radius: 5px;
    width: 93px;
    text-align: center;
    overflow: auto;
    font-size: 13px;
    user-select: none;
    height: 28px;
}
.placeholder .draggable-blank-preview{
    padding: 2px;
    height: 24px;
    display: block;
}

.draggable-blank-preview::-webkit-scrollbar {
    height: 0px;
}










