.created-questions-list-Preview{
    max-width: 900px;
    margin: 20px auto;
    padding-inline: 5px;
}

.created-questions-list-Preview .edit-form-btn-container{
    display: flex;
    justify-content: flex-end;
}
.created-questions-list-Preview .edit-form-btn-container .edit-form-btn{
    cursor: pointer;    
    border: 1px solid ;
    padding: 4px;
    border-radius: 4px;
}

.created-questions-list-Preview .saveAndCancel-container{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.created-questions-list-Preview .saveAndCancel-container span{
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

  .formSubmit-btn{
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
  }

  .formSubmit-btn:hover{
    background-color: lightgray;
  }