.draggable-item-preview {
    flex-shrink: 0;
    padding: 5px;
    padding-left: 8px;
    background-color: #4299E1;
    color: white;
    border-radius: 5px;
    width: 93px;
    text-align: center;
    overflow: auto;
    font-size: 13px;
    user-select: none;
    height: 28px;
    transition: background-color 0.2s;
  }
  
  .draggable-item-preview:hover {
    background-color: #3182CE;
  }
  
  .draggable-item-preview::-webkit-scrollbar {
    height: 0px;
  }
  
  /* cloze question specific styles */
  .placeholder .draggable-item-preview {
    padding: 2px;
    height: 24px;
    display: block;
  }
  
  /* Form specific styles */
  .placeholder {
    background-color: #EBF8FF !important;
    border-color: #4299E1 !important;
  }
  
  .placeholder:hover {
    background-color: #BEE3F8 !important;
  }